.page {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  width: 100%;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 16px;
  }

  .container {
    padding: 0 20px;
    gap: 40px;
  }

  .content {
    gap: 40px;
    padding-bottom: 60px;
  }
}
